@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #839496; color:white; font-family:Arial;margin-bottom:20px;">
    <img src="~/img/WJAirlinesLogo.png" />
</div>

<div class="align-content-center" style="background-color:cadetblue;">
    
</div>
<div style="margin-top:20px;">
    <h2>Luxury Flights. Professional Staff.</h2>
    <p>
        Litora nulla cras himenaeos congue luctus! Facilisis donec accumsan lobortis tempor aliquet eget ullamcorper, magna commodo. Convallis, etiam vel sapien? Suscipit, nascetur risus nostra dolor. Proin quam netus parturient? Viverra condimentum sociosqu adipiscing ad integer porttitor non magna, torquent odio. Orci lectus gravida fames massa augue duis platea quis tristique curabitur pharetra himenaeos. Fringilla sagittis malesuada per ac ad leo diam ullamcorper dignissim class? Rhoncus aliquet congue facilisi mattis donec placerat facilisi litora praesent conubia sapien. Condimentum semper; ad integer convallis varius ad dis imperdiet sem per. Pretium facilisi, tristique facilisis ultrices suspendisse sem convallis odio. Mi.
    </p>
    <p>
        A ante feugiat litora curabitur tellus ridiculus cras a conubia dis facilisi? Commodo sagittis ultrices nostra elit orci ac gravida suspendisse risus mattis fringilla sodales. Porttitor duis phasellus venenatis neque vel, natoque aenean orci ad sem quisque ullamcorper. Per tellus id vel. Placerat suscipit feugiat nullam. Condimentum ipsum ridiculus suspendisse blandit dui sem metus dolor lectus luctus. Eleifend morbi cras tellus sollicitudin diam praesent massa turpis. Eget vitae primis blandit nulla dolor felis rhoncus nibh taciti. Dapibus maecenas ridiculus montes suscipit. Ultrices mus lorem in, leo aliquam. Cubilia netus placerat neque ultrices dolor ligula tempor ullamcorper.
    </p>
    <p>
        Euismod nostra hendrerit iaculis habitasse elit. Class duis varius imperdiet integer. Phasellus vel volutpat convallis erat sed sodales tristique ad fringilla torquent primis? Nec pharetra ac risus. Dignissim fermentum, praesent facilisi suspendisse at litora laoreet laoreet a! Justo magna mauris amet vitae sociis augue? Dapibus nascetur varius neque adipiscing erat sapien nam amet magna erat! Facilisis fames primis mi nisi? Ridiculus risus eros nisl nulla tellus augue dis. Litora condimentum pellentesque faucibus class tempor. Semper dolor scelerisque risus eu dolor vehicula metus vel vehicula hendrerit.
    </p>
    <h2>Our Company and Values.</h2>
    <p>
        Dolor cum orci quis magna vitae senectus, turpis odio lectus faucibus. Libero porttitor id faucibus pulvinar eu vulputate placerat diam sollicitudin proin cras. Pretium laoreet himenaeos urna tincidunt luctus dignissim massa imperdiet a tellus semper porttitor. Pharetra sociis vivamus libero ridiculus. Ultricies fermentum velit quis netus curae; lacinia himenaeos lectus duis vitae elit. Natoque diam penatibus aenean lectus nulla. Iaculis himenaeos cursus, a natoque fusce. Eros blandit penatibus vestibulum egestas libero vitae? Posuere neque iaculis tristique aptent conubia laoreet porta ultrices consequat lacus venenatis arcu. Placerat quisque at sodales fermentum.
    </p>
    <p>
        Justo elementum magna torquent sapien. Ipsum; tempus curabitur dapibus urna rutrum maecenas posuere sit nulla pellentesque sociosqu parturient. Euismod praesent at purus, tortor maecenas turpis magnis cursus. Rutrum penatibus sed convallis blandit neque dis penatibus id. Maecenas nostra tempus enim odio nullam imperdiet nulla dapibus suspendisse curabitur vitae sociosqu. Maecenas.
    </p>
</div>

