@model FlightManagement.Data.Reservation

@{
    ViewData["Title"] = "Delete Reservation";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this Reservation?</h3>
<div>
    <hr />
    <div style="margin-bottom:20px;">
        <span class="text-danger">WARNING!</span>
        <br />
        <span>You are about to delete @Model.passenger.FirstName @Model.passenger.LastName's Reservation for Flight Number @Model.flight.FlightNumber.</span>
    </div>
    <form asp-action="Delete">
        <input style="margin-bottom:10px;" type="submit" value="Delete" class="btn btn-danger" />
        <br />
        @Html.ActionLink("Cancel", "Index", "Reservations", new { Model.flight.Id }, null)
    </form>
</div>
